CircuitTrab1/CircuitTrab1.kicad_sch
trab1/assets/input_log
CircuitTrab1/fp-info-cache
CircuitTrab1/CircuitTrab1.kicad_sch
trab2/src/__pycache__/Astrolocator.cpython-312.pyc
trab2/src/__pycache__/StepperController.cpython-312.pyc
trab2/src/__pycache__/Tracker.cpython-312.pyc
trab2/src/ui/__pycache__/deviceConfigWindow.cpython-312.pyc
trab2/src/ui/__pycache__/mainWindow.cpython-312.pyc
trab2/src/ui/__pycache__/inputConsole.cpython-312.pyc
trab2/src/ui/__pycache__/othersConfigWindow.cpython-312.pyc
trab2/src/ui/__pycache__/stepperConfigWindow.cpython-312.pyc
trab2/src/utils/__pycache__/commandThread.cpython-310.pyc
trab2/src/utils/__pycache__/commandThread.cpython-312.pyc
CircuitTrab1/CircuitTrab1.kicad_sch
CircuitTrab1/fp-info-cache
